<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControlaMoto</servlet-name>
        <servlet-class>br.edu.fescfafic.controller.ControlaMoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMoto</servlet-name>
        <servlet-class>br.edu.fescfafic.controller.AlterarMoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exluirMoto</servlet-name>
        <servlet-class>br.edu.fescfafic.controller.excluirMoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMoto</servlet-name>
        <servlet-class>br.edu.fescfafic.controller.ListMoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaMoto</servlet-name>
        <servlet-class>listaMoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlaMoto</servlet-name>
        <url-pattern>/ControlaMoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMoto</servlet-name>
        <url-pattern>/AlterarMoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exluirMoto</servlet-name>
        <url-pattern>/exluirMoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMoto</servlet-name>
        <url-pattern>/ListMoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaMoto</servlet-name>
        <url-pattern>/listaMoto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
